.alibiContainer {
  flex-basis: 1;
  display: flex;
  flex-flow: row;
  margin: 1em;
  height: auto;
  justify-content: space-between;
}

.card-alibi {
  border: 0.5px solid lightseagreen;
  margin: 0.5em;
  padding-left: 0.25em;
  min-width: 175px;
  max-width: 300px;
  min-height: 100px;
  max-height: 100;
  flex-basis: 25%;
}
