.criminalsContainer {
  flex: 3;
  display: flex;
  flex-flow: row wrap;
  margin: 1em;
  height: auto;
  justify-content: space-evenly;
  align-content: flex-start;
}

.card-criminal {
  border: 0.5px solid lightcoral;
  margin: 0.5em;
  padding-left: 0.25em;
  min-width: 175px;
  max-width: auto;
  min-height: 200px;
  max-height: 100;
  flex-basis: 25%;
}

.card-criminal p {
  font-size: 12px;
  line-height: 1;
  margin: 0.01;
}

.card-criminal button {
  margin-bottom: 1em;
  justify-self: center;
}
