.filters {
  display: flex;
  flex-flow: row;
}

.filters__crime {
  padding: 1.5em;
}

.filters__officer {
  padding: 1.5em;
}

.criminalsContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 1em;
}

.card-criminal {
  border: 0.5px solid lightcoral;
  margin: 0.5em;
  padding: 0.5em;
  min-width: 175px;
  height: auto;
  flex-shrink: 1;
}

.card-criminal p {
  font-size: 12px;
  line-height: 0.25;
}

.notesList {
  display: flex;
  flex-flow: row wrap;
  margin: 1em;
}

.card-note {
  border: 0.5px solid lightsteelblue;
  margin: 0.25em;
  padding: 0.25em;
  min-width: 175px;
  height: auto;
  flex-shrink: 1;
}

.card-note p {
  font-size: 12px;
  line-height: 0.33;
}

.caption {
  font-size: 10px;
}

.suspect {
  color: grey;
}

.noteFormContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

#noteFormContainer h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

#noteForm--text {
}

.noteFormContainer #noteForm--criminal,
#noteForm--text,
#saveNote {
  margin: 0.25em;
}
