@import "notesSidebar.css";
@import "criminals.css";
@import "alibi.css";
@import "facility.css";

.filters {
  display: flex;
  flex-flow: row;
}

.filters__crime {
  padding: 1.5em;
}

.filters__officer {
  padding: 1.5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* margin: 1em; */
  flex-basis: 5;
}

.section-main {
  display: flex;
  flex-flow: row wrap;
  margin: 1em;
  flex-basis: 5;
}

.dropdown-menu {
  flex: 3;
  display: flex;
  margin: 1em;
  justify-content: space-around;
  align-content: space-around;
}

header {
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
}
